body {
    background-color: rgba(204,0,0,0.9); /* Red background with opacity */
    color: white;
    font-family:"Crafty Girls";
    font-size: 3em;
    font-weight: bold;
}

div {
    width: 60%;
    position: absolute;
    top: 30%;
    left: 20%;
}